<!DOCTYPE HTML>

<html>
	<head>
		<title>LUB MOTOR GROUP & SERVICE CENTRE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>Bongani Presents</h1>
					<p>LUB MOTOR GROUP & SERVICE CENTRE</p>
				</header>
				<div class="container">
					<ul class="actions special">
						<li><a href="#one" class="button primary scrolly">Begin</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="/public/images/spanner.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>About</h2>
						</header>
						<p>LUB motor group and Spares Centre (“LMG&SC”) is a start-up company that offers a complete domestic and foreign care
						repair service as well as a full-featured retail parts store. LMG&SC will serve the Ekurhuleni market from a convenient
						location as a starting base. LMG&SC will grow into a business, branch out around SA with outstanding service and sales
						by year three.</p>
						<h4>The Concept</h4>
						<p>The car repair market is very competitive. However, most operators only offer car service and repair. LUB motor group
						and Spares Centre will differentiate themselves by not only offering a hassle-free repair services, but a fully stocked
						parts stores. Not only will this serve a wide range of customers for both service and parts, but the parts department
						will support the service department by allowing the service department to turnaround jobs far faster than the
						competition with generally all of the needed parts in stock and on location. This symbiotic relationship between the 2
						operations also means that when there’s a slowdown on the service side of the business, the spares operation can
						continue to bring in the sales and counter any negative impact on the total business.</p>
						<h4>Car Service and Repair</h4>
						<p>LMG&SCwill also differentiate themselves by having various repair bays at every location. Someof these will have fully
						fitted electronic wheel alignment and diagnostic workstations, as well as mobile units. The arrangement will offer
						incredible value to customers who need their cars fixed right away. This will ensure that customers do not wait for
						service and parts atLMG&SC. Additionally, the service and repair workshop will operate for 24 hours in order to meet
						special client needs (e.g. taxis) and emergency repair requests.
						LMG&SC will attract and maintain a loyal customer base through their customer-oriented focus on business. All employees
						are trained and held responsible for providing superior service, developing a long lasting trust bond with customers.
						This is very important, especially in the auto repair industry where trust and honesty are not the image of repair
						facilities. Clean reliable service is an exception than a rule in the car service industry.
</p>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="/public/images/engine.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Focus</h2>
						</header>
						<p>LMG&SC will inculcate this culture within its company through a code of conduct and quality checklist systems that
						ensures the following:</p>
						<ul class="icons-grid">
							<li>
								<span class="icon major fa-road"></span>
								<h3>Relaible</h3>
							</li>
							<li>
								<span class="icon major fa-bars"></span>
								<h3>Efficiant</h3>
							</li>
							<li>
								<span class="icon major fa-users"></span>
								<h3>Great Customer Service</h3>
							</li>
							<li>
								<span class="icon major fa-cog"></span>
								<h3>organized workshop</h3>
							</li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="/public/images/repair.jpg" alt="" /></span>
					<div class="content">
						<h3>Clean and well organized workshop</h3>
						<ul>
							<li>
								Shelf space and lockable tool cabinets that make it easy to retrieve and return tools for each service bay
							</li>
							<li>
								Service technicians must always work in a clean area and keep areas clean. No oil stained uniforms will be allowed.
								Spills will immediately be removed by the cleaning crew.
							</li>
							<li>
								Protective gear will be used for cover seats and car paintwork (when working inside the bonnet).
							</li>
							<li>
								Hands to be wiped clean of any oil/grease prior to opening, entering or operating any part of the inside of the vehicles
							</li>
							<li>
								Cars to be washed clean at the end of each service or repair
							</li>
						</ul>
						<h3>Service manager to provide ongoing training and supervision of all service technicians.</h3>
						<ul>
							<li>Working with merSETA to train and develop service technicians’ skills through recognised training centres</li>
							<li>Assure the quality of all work done by technicians to the set service standards and satisfaction of each client.</li>
							<li>Ensure that the cleanliness requirements of the code of conduct are adhered to.</li>
						</ul>
						<h3>Provide efficient and well-trained personnel and resources for service booking, on calls, car drop-off, service
						feedback, car collection and after service contact.</h3>
						<ul>
							<li>Create a centralised job card creation and job pricing office to ensure that servicing remains affordable for clients
							but not under-priced</li>
							<li>Design a welcoming and warm reception and waiting areas which make customers experience a feeling of being special</li>
						</ul>
						<hr>
						<h3>Car Spares Sales Operation</h3>
						<p>
							LMG&SC will partner with one of the established parts and spares suppliers in Gauteng. The partnership will enable
							LMG&SC to place, receive and deliver orders 24 hours around the clock. The partnership details and agreements will be
							finalised with the spares and parts supplier partner close to the time
						</p>
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>

	

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Get in touch</h2>
						<small>Please note if you wish to speak to me directly kindly call the number below:</small>
						<p>Bongani: +27 65 937 9495</p>
					</header>
					<form method="post" action="send">
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Send Message" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
					<h3>The Service Station Owner</h3>
					<p>Bongani has a background of car Service and RepairTechnician for 5 years at the BMW dealership. He will be overseeing
					the workshop and spares departments for the business.</p>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="twitter.com" class="icon alt fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
						<li><a href="#https://www.facebook.com/bongani.lubisi.3?jazoest=26510011910666971058383889911256106115721101018211155756911149829568100105707590881005011285651035567996665103586510012111771851037486107997010051118748478106101756910686711198651691005610810095867168114677485538011810881" target="blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="instagram.com" target="blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; lnh</li><li>Design</li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/browser.min.js"></script>
			<script src="/public/assets/js/breakpoints.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>